*.pdf
*.mtl
*.whl
*.zip

boba-fett-helmet
r2-d2-blend
star-wars-x-wing
super-nintendo-blend

src/
*/__pycache__
*/.ipynb_checkpoints
GC 2021-20210713T194954Z-001/
.ipynb_checkpoints/
Alexandre-FechoConvexo/